<div class="" data-ng-controller="BasicController">
    <div>
        <p></p>
        
        <div class="row">        
        <button class="btn btn-primary" ng-click="url='/api/basic/example/json';loadData($event)" 
        type="button">
        Get Data</button>
         <button class="btn btn-danger" type="button"
              ng-click="retData = ''"
              >Clear Data</button>
        </form>
        <p></p>
        <div class="vehicle-list">
            <form ng-submit="update()">           
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>                
                <th>Age</th>
                <th>Mileage</th>                
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "vehicle in retData">                
                    <td data-ng-bind="vehicle.make" />
                    <td data-ng-bind="vehicle.model" />
                    <td data-ng-bind="vehicle.age" />
                    <td data-ng-bind="vehicle.mileage" />
                <tr>
            </tbody>
            
            </form>    
		</div>
        </div>    
    
    </div>
</div>
